.header{
    height: 34vw;   
    margin: 30px auto;
    position: relative;
    background: url('/public/header_img.png') no-repeat;
    background-size: contain;

}
.header-content{
    position: absolute;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-content h2{
    color: white;
    font-size: max(4.5vw,22px);
    font-weight: 500;
}

.header-content p{
    color: #fff;
    font-size: 1vw;   
}

.header-content button{
    border: none;
    color: #747474;
    padding: 1vw 3vw;
    font-size: max(1vw,13px);
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;

}